.font-size {
  font-size:.8em!important;
  color:yellow!important;
}

@mixin float-left {
  float:left;
}

@mixin float-right {
  float:right;
}

@mixin undisplay {
  display:none;
}

@mixin invisibile {
  visibility:hidden;
}

@mixin visible {
  visibility:visible;
}

@mixin opacity-off {
  opacity:0;
}

@mixin opacity-on {
  opacity:1;
}

@mixin opacity-some {
  opacity:.8;
}
@mixin opacity-minimal {
  opacity:.3;
}

@mixin block-center($mtb, $mlr) {
  display:block;
  position:relative;
  float:none;
  margin:$mtb $mlr;
}

@mixin full-height {
  height:100%;
}

@keyframes visiblility {
    0%   {opacity:0; transform: translateY(100%);}
    100% {opacity:1; transform: translateY(0);}
}

@mixin no-pointer {
  pointer-events:none;
}

@mixin pointer {
  pointer-events:auto;
}

@mixin top-right($top, $right) {
  position:absolute;
  top:$top;
  right:$right;
}

@mixin top-left($top, $left) {
  position:absolute;
  top:$top;
  left:$left;
}

@mixin bottom-left($bottom, $left) {
  position:absolute;
  bottom:$bottom;
  left:$left;
}

@mixin wh($width, $height) {
  width: $width;
  height: $height;
}
@mixin fast-transition($properties...) {
  transition:100ms ease;
  transition-property: $properties;
}

@mixin med-transition($properties...) {
  transition:250ms ease;
  transition-property: $properties;
}

@mixin slow-transition($properties...) {
  transition:500ms ease;
  transition-property: $properties;
}

@mixin exslow-transition($properties...) {
  transition:1000ms ease;
  transition-property: $properties;
}
@mixin mp-reset {
  margin:0;
  padding:0;
}
@mixin block {
  display:block;
}
@mixin inline {
  display:inline-block;
}
