      
@mixin height100 {
  @include wh(auto, 100%);
}
.alert-o {
  .circle{fill:$color-alert;}
  .mark{fill:$color-white;}
}

.error-o{
  @include open-sans;
  @include medium-w;
  line-height: 3em;
  color: red;
  background:rgba(255,173,86,.3);
} 

.label-border-o {
  border: 4px solid;
  border-radius: 5px;
}

.arrow-o { 
  @include block-center(0, auto);
  @include pointer;
  @include fast-transition(width, height);
  background:url('../imgs/arrow-right-opt.svg') no-repeat;
}

.go-o {
  fill:$color-bright;
}

.btn-o {
  @include wh(15em, 3.5em);
  @include pointer;
  @include open-sans;
  @include heavy-w;
  @include small-s;
  text-transform: uppercase;
  line-height:1em;
}

.ga16-btn-o {
  overflow:hidden;
  svg {
    @include top-left(-0.5em, 1em);
    @include wh(5em, auto);
    @include opacity-minimal;
    z-index:z('normal');
    fill: $color-ltgray;
  }
  span {
    @include top-left(33%, 0);
    @include wh(100%, 100%);
    z-index:z('normal')+1;
    display:block;
  }
}

.close-o {
  @include wh(100%, 100%);
  fill:none;
  stroke: $color-white;
  stroke-width: 3px;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}
//////
// this is all tympanus stuff below
//////

// forms 

span.input {
  float:left;
  clear:both;
  width:100%;

}

span.input-left {
  width:47%;
  margin-right:1.7em;
  float:left;
  clear:none;
}

span.input-left:nth-child(odd) {
  margin-right:0;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: calc(100% - 2em);
  vertical-align: top;
  height:2.2em;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0 1em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 300;
  font-family: Open Sans, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label, small.nope {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

/* Individual styles */

/* Kaede */
.input--kaede {
  display: block;
  overflow: hidden;
  margin: 1em auto 0.8em;
  background: #EFEEEE;
}

.input__field--kaede {
  position: absolute;
  top: 0;
  right: 100%;
  width: 60%;
  height: 100%;
  background: #fff;
  color: #9DABBA;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--kaede, small.nope {
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  cursor: text;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label-content--kaede {
  padding: 1em 0;
  font-family:Open Sans, sans-serif;
  font-weight:400;
}

.input__field--kaede:focus,
.input--filled .input__field--kaede {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition-delay: 0.06s;
  transition-delay: 0.06s;
}

.input__field--kaede:focus + .input__label--kaede,
.input--filled .input__label--kaede  {
  -webkit-transform: translate3d(60%, 0, 0);
  transform: translate3d(60%, 0, 0);
  pointer-events: none;
}

@media screen and (max-width: 34em) {
  .input__field--kaede:focus + .input__label--kaede,
  .input--filled .input__label--kaede  {
    -webkit-transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
    pointer-events: none;
  }
}

/////
// begin loader
////

  
.ip-header {
  position: fixed;
  top: 0;
  z-index: 100;
  min-height: 480px;
  width: 100%;
  height: 100%;
  background: white;
}

.ip-logo,
.ip-loader {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.ip-logo {
  top: 0;
  height: 100%;
  -webkit-transform: translate3d(0,25%,0);
  transform: translate3d(0,25%,0);
}

.ip-loader {
  bottom: 20%;
  width: 95.2%;
}

.ip-header .ip-inner {
  display: block;
  margin: 0 auto;
}

.ip-header .ip-logo svg {

}

.ip-header .ip-logo svg path {
  fill: $color-teal;
}

.ip-header .ip-loader svg path {
  fill: none;
  stroke-width: 6;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
  stroke: #555;
}

.ip-header .ip-loader svg path.ip-loader-circle {
  -webkit-transition: stroke-dashoffset 0.2s;
  transition: stroke-dashoffset 0.2s;
  stroke: $color-teal;
}

/* Animations */

/* Initial animation of header elements */
.loading .ip-logo,
.loading .ip-loader {
  opacity: 1;
  -webkit-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
  animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loading .ip-loader {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes animInitialHeader {
  from { opacity: 0; -webkit-transform: translate3d(0,800px,0); }
}

@keyframes animInitialHeader {
  from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}

/* Change layout class for header */
.layout-switch .ip-header {
  position: absolute;
}

/* No JS */
.no-js .ip-header {
  position: relative;
  min-height: 0px;
}

.no-js .ip-header .ip-logo {
  margin-top: 20px;
  height: 180px;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.no-js .ip-header .ip-logo svg path {
  fill: #fff;
}

/* Media queries */

@media screen and (max-width: 45em) {

  .ip-main h2 {
    font-size: 2.25em;
    font-size: 10vw;
  }

  .box {
    width: 100%;
  }
}