/*

### Standards ###
[selector] {
	Box model (display, width, height, padding, margin, float)
	Position (position, coordinates)
	Font (font, type, text)
	Colors
	Backgrounds
	Border
}

### Z-Index Spaces ###

*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p,
ol,
ul,
dl {
	font-size: inherit;
	color:$color-white;
  font-weight:300;
}

figure {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, button, .button {
  font-family:Open Sans, sans-serif;
  font-weight:300;
  color:$color-white;
  margin-bottom:0.5em;
}
.button {
  background-color:black;
  font-weight:700;
}

#galaxy, #universe {
	height:100%;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

div.top-line {
  pointer-events: none;
  z-index:z('header');
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:5em;
  float:left;
  border-top:0.2em $color-teal solid;
  padding:.5em;
  a {
    pointer-events:auto;
    width:2em;
    display:block;
    float:left;
    img {
      width:100%;
      height:100%;
    }
  }
}
