/*

### Standards ###
[selector] {
	Box model (display, width, height, padding, margin, float)
	Position (position, coordinates)
	Font (font, type, text)
	Colors
	Backgrounds
	Border
}

### Z-Index Spaces ###

*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p,
ol,
ul,
dl {
	font-size: inherit;
	color:$color-white;
  font-weight:300;
}

figure {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, button, .button {
  @include open-sans;
  @include medium-w;
  @include exlarge-s;
  color:$color-white;
  margin:0 0 0.5em 0;
}
.button {
  background-color:black;
  font-weight:700;
}

#galaxy, #universe {
	@include wh(100%, 100%);
}

.full-width {
  @include wh(100%, auto);
  margin:0 auto;
  max-width: initial;
}

div.top-line {
  @include no-pointer;
  @include top-left(0, 0);
  @include wh(100%, 5em);
  @include float-left;
  z-index:z('header');
  border-top:0.2em $color-teal solid;
  padding:.5em;
  a {
    @include pointer;
    @include wh(2em, auto);
    @include block;
    @include float-left;
    img {
      @include wh(100%, 100%);
    }
  }
}