/*

### Standards ###
[selector] {
	Box model (display, width, height, padding, margin, float)
	Position (position, coordinates)
	Font (font, type, text)
	Colors
	Backgrounds
	Border
}

### Z-Index Spaces ###

*/
*,
*:before,
*:after {
	box-sizing: border-box;
}
  .ps-scrollbar-y-rail, .ps-scrollbar-x-rail {
    opacity:0;
  }
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  //@include float-left;
  //@include wh(100%, 100%);
  overflow:hidden;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

}
body.home {
  #universe {
    animation: visiblility 1s;
  }
}
p,
ol,
ul,
dl,
a {
  @include open-sans;
	font-size: inherit;
	color:$color-white;
  font-weight:300;
}

figure {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, button, .button {
  @include open-sans;
  @include medium-w;
  @include exlarge-s;
  color:$color-white;
  margin:0 0 0.5em 0;
}
.button {
  background-color:black;
  font-weight:700;
}

#galaxy, #universe {
	@include wh(100%, 100%);
}

.full-width {
  @include wh(100%, auto);
  margin:0 auto;
  max-width: initial;
}

div.top-line {
  @include no-pointer;
  @include top-left(0, 0);
  @include wh(100%, 5em);
  @include float-left;
  z-index:z('header');
  border-top:0.2em $color-teal solid;
  padding:.5em;
  a {
    @include pointer;
    @include wh(2em, auto);
    @include block;
    @include float-left;
    margin: 0.4em 1em 1em 1em;
    img {
      @include wh(100%, 100%);
    }
  }
}
body.home {
  .loop {
    //opacity:0;
    animation:fadeIn 5s ease;
    overflow:hidden;
  }
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
video {
  max-height:100%;
}