.button-row .button {
  @extend .btn-o;
  @include small-s;
  margin:3em 9em 0 0; 
}

#register-replace .button-row .button {
    margin:3em -1em 0 0;
}

// register 2
#register-replace {
  div:nth-child(2) {
    margin-left:0.3em;
  }
  span.input {
    border-radius:3px;
  }
  input:focus {
    @extend .label-border-o;
    border-color:$color-bright;
  }

  input.register{
    @extend .btn-o;
    @include small-s;
    background:black;
  }

  label.error {
    @extend .error-o;
  }
 span.error-border input {
    @extend .label-border-o;
    border-color:$color-alert;
  }
  div.error {
    @include float-left;
    margin-left:1em;
    clear:left;
    svg {
    @include undisplay;
    @include float-left;
    @extend .alert-o;
    @include wh(1.5em, 1.5em);
    margin-left:0.5em;
    }
  }
}

//register initial
  header {
    margin-top:.8em;
    clear:both;
    p {
      padding:0;
      @include open-sans;
      @include heavy-w;
    }
    p.close {
      @include medium-w;
      @include mp-reset;
      @include inline;
      @include float-left;
    }
    .closeit {
      @include wh(1em, 1em);
      @include block;
      @include float-left;
      margin-left:1em;

      svg line.close-x {
        @extend .close-o;
      }
    }
  }

#about {
  transform:translateY(100px);
  @include opacity-off;
  @include fast-transition(transform);

  .button-row .button:hover {
    background-color:$color-bright;
  }

  div div.about-content p:nth-child(1) {
      padding-top:2em;
  }
  #register-replace div.error p {
    @include mp-reset;
    @include float-left;
    @include medium-w;
    font-style: italic;
  }
}// end about

//loading page
body.loading {

  .top-line a {
    @include undisplay;
  }
  
  #ip-container {
    padding-top:3%;
    @include block-center(0, auto);

    svg.cross {
      @include top-left(10%, 29.5%);
      @include wh(40%, auto);
      z-index:z('base');
      fill:$color-ltgray;
    }

    .loading-container {
      @include top-left(30%, 28.5%);
      @include wh(33%, auto);
      svg {fill:$color-teal;}

      svg.loading {
        @include float-left;
        @include wh(28%, auto);
        padding:12% 6% 0 0;
      }

      svg.go {
        @include float-left;
        @include wh(60%, auto);
      }
    }//loading-container
  }//container
}//body.loading

// home page
body.home {

  .popup {
    @include top-left(0, 50%);
    @include wh(0, 100%);
    z-index:z('header')+1;
    background:$color-teal;
    transform: translateX(-50%);
    overlow:hidden;
    display:none;
    opacity:0;
  }

  animation: visiblility 1s;
  @include medium-s;
  
  .background {
    @include top-left(0,0);
    z-index:z('normal');
  }
  
  .arrow-container {
    @include bottom-left(30%, auto);
    @include no-pointer;
    @include wh(100%, 2em!important);
    z-index:z('normal')+2;
    a.arrow {
      @extend .arrow-o;
      @include wh(2em, 2em);
    }
    a.arrow:hover {
      @include wh(2.5em, 2.5em);
    }
  }
  
  .on-top {
    @include top-left(0, 0);
    @include no-pointer;
    @include opacity-off;
    @include exsmall-s;
    z-index:z('normal')+1;
    .info {
      text-align:center;
      padding-top:8em;
      svg.go {
        @extend .go-o;
        @include wh (10em, auto);
      }
      h1 {
        padding:2em 0 1em 0;
      }
      .info-buttons {
        @include block-center(5em, auto);
        @include wh (100%, 1em);
        a.button {
          @extend .btn-o;
          background:black;
          @include med-transition(background);
        }
        a.button:hover{
          background:$color-bright;
        }
        a.ga16{
          @extend .ga16-btn-o;
          background: $color-teal;
          @include slow-transition(background);
        }
        a.ga16:hover {
          background:$color-black;
        }
      }
    }
  }

  .row {
    @include wh(100%, 100%);
    #map-overlay {
      @include undisplay;
      background:black;
      height:100%;
    }
    #map {
      @include wh(50%, 100%);
      background-color: #333;
    div.gm-style div:nth-child(2) a{
        display:none !important;
      } 
    }

    .loop {
      @include wh(50%, 100%);
      background:$color-black;
      overflow:hidden;

      img.crowd {
        @include undisplay;
        @include opacity-minimal;
      }
      
      video {
        @include wh(auto, auto);
        @include top-left(auto, auto);
        z-index:z('normal');
        min-width:100%;
        margin-left:-1em;
      }
      .video-overlay {
        @include top-right(0, 0);
        @include wh (100%, 100%);
        z-index:z('normal')+1;
        background: linear-gradient(to bottom, rgba(68,68,68,0.5) 40%,rgba(56,165,123,1) 100%);
      }
    }
  }
}// end body.home