#register-replace {
  div:nth-child(2) {
    margin-left:0.3em;
  }
  span.input {
    border-radius:3px;
  }
  input:focus {
    border: 4px solid $color-bright;
    border-radius: 5px;
  }
}
#about {
  transform:translateY(100px);
  @include opacity-off;
  @include fast-transition(transform);
  .button-row .button {
    height:3em;
    line-height:1em;
    margin:3em 9em 0 0; 
  }
  .button-row .button:hover {
    background-color:$color-bright;
  }
  p {
    padding:.5em 1em;
    font-size:0.9em;
    line-height:1.7em;
  }
  div div.about-content p:nth-child(1) {
      padding-top:2em;
  }
  header {
    margin-top:.8em;
    clear:both;
    p {
      padding:0;
      font-family: Open Sans, sans-serif;
      font-weight:700;
    }
    p.close {
      font-weight:400;
      display:inline-block;
      float:left;
      margin:0; padding:0;

    }
    .closeit {
      display:block;
      float:left;
      width:1em;
      height:1em;
      margin-left:1em;

      svg line.close-x {
        width:100%;
        height:100%;
        fill:none;
        stroke: $color-white;
        stroke-width: 3px;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
      }
    }
  }
  .about-wrap {

  }
}

body.loading {

  
  .top-line a {display:none;}
  
  #ip-container {
    padding-top:3%;
    @include block-center(0, auto);

    svg.cross {
      position:absolute;
      left:22.5%;
      z-index:z('base');
      width:55%;

      fill:$color-ltgray;
    }

    .loading-container {
      position:absolute;
      left: 28.5%;
      width: 33%;

      svg {fill:$color-teal;}

      svg.loading {
        padding:12% 6% 0 0;
        float:left;
        width:28%;
      }

      svg.go {
        float:left;
        width:60%;
      }
    }//loading-container
  }//container
}//body.loading

body.home {
  animation: visiblility 1s;
  @include medium-s;
  
  .background {
    @include top-left(0,0);
    z-index:z('normal');
  }
  
  .arrow-container {
    @include top-left(25em, auto);
    @include no-pointer;
    @include wh(100%, 2em!important);
    z-index:z('normal')+2;
    a.arrow {
      @extend .arrow-o;
      @include wh(2em, 2em);
    }
    a.arrow:hover {
      @include wh(2.5em, 2.5em);
    }
  }
  
  .on-top {
    @include top-left(0, 0);
    @include no-pointer;
    @include opacity-off;
    @include exsmall-s;
    z-index:z('normal')+1;
    .info {
      text-align:center;
      padding-top:8em;
      svg.go {
        @extend .go-o;
        @include wh (10em, auto);
      }
      h1 {
        padding:2em 0 1em 0;
      }
      .info-buttons {
        @include block-center(5em, auto);
        @include wh (100%, 1em);
        a.button {
          @extend .btn-o;
          background:black;
        }
        a.ga16{
          @extend .ga16-btn-o;
          background: $color-teal;
        }
      }
    }
  }

  .row {
    @include wh(100%, 100%);
    
    #map {
      @include wh(50%, 100%);
      background-color: #333;
      div div:nth-child(2) a{
        display:none !important;
      }
    }

    .loop {
      @include wh(50%, 100%);
      background:$color-black;
      overflow:hidden;

      img.crowd {
        @include undisplay;
        @include opacity-minimal;
      }
      
      video {
        @include wh(auto, auto);
        @include top-left(auto, auto);
        z-index:z('normal');
        min-width:100%;
        margin-left:-1em;
      }
      .video-overlay {
        @include top-right(0, 0);
        @include wh (100%, 100%);
        z-index:z('normal')+1;
        background: linear-gradient(to bottom, rgba(68,68,68,0.5) 40%,rgba(56,165,123,1) 100%);
      }
    }
  }
}// end body.home