@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

@mixin open-sans {
  font-family:Open Sans, sans-serif;
}

@mixin heavy-w {
  font-weight:700
}

@mixin medium-w {
  font-weight: 400;
}

@mixin light-w {
  font-weight: 300;
}

@mixin small-s {
  font-size:0.75em
}

@mixin medium-s {
  font-size:1em;
}

@mixin large-s {
  font-size:1.5em;
}