body.interior {
  #content {
    .main-links {
      h1 {
        margin-top:1em;
        @include exlarge-s;
      }
    }
  }
}

#large-on-top, #large-bg {
  display:block;
}
#small-on-top, #small-bg {
  display:none;
}
.button-row .button {
  @include btn-o;
  @include exsmall-s;
  margin:3em 9em 6em 0; 
}

#register-replace .button-row .button {
}

// register 2
#register-replace {
  div:nth-child(2) {
  }
  span.input {
  }
  span.input-left {
  }
  span.input {
  }

  input:focus {

  }

  input.register{

  }

  label.error {
  }
 span.error-border input {

  }
  div.error {

    svg {

    }
  }
}

//register initial
  header {

    p {

    }
    p.close {

    }
    .closeit {


      svg line.close-x {

      }
    }
  }

#about {
  p {

  }

  .button-row .button:hover {
  }

  div div.about-content p:nth-child(1) {
  }
  #register-replace div.error p {

  }
  h1{

  }
  .about-replace {
  }
}// end about

//loading page
body.loading {

  .top-line a {
  }
  
  #ip-container {


    svg.cross {

    }

    .loading-container {

      svg {

      }

      svg.loading {

      }

      svg.go {

      }
    }//loading-container
  }//container
}//body.loading

// home page
body.home {

  .popup {

    .popup-overlay {
    }

    .popup-info {

      svg.go {

      }
      svg.line {

      }
      p {

      }
      .social-links {

        .social-center {

          a {

          }
        }

        a:hover {

        }
        a.button {

        }
        a.button:hover {

        }
      }
    }
  }


  
  .background {

  }
  
  .arrow-container {
    top:30.2em;
    a.arrow {

    }
    a.arrow:hover {
    }
  }

  .on-top {


    .info {

      svg.go {
;
      }
      h1 {
        @include exlarge-s;
      }
      .info-buttons {
        @include wh (100%, 1em);
        a.button {
        }
        a.button:hover{
        }
        a.ga16{
        }
        a.ga16:hover {
        }
      }
    }
  }

  .row {
    .map-overlay {
    }
    #map {
      @include wh(50%, 100%);
      margin-left:50%;
      .gm-style > div {
      }
      .gm-style div:nth-child(2) a{
      } 
      .gm-style > div:nth-last-child(1) {

        .gm-style-mtc div {
        }
      } 
    }
    .loop {
      @include wh(50%, 100%);
      img.crowd {
      }
      
      .video {

      }
      .video-overlay {
      }
    }
  }
}// end body.home