---
title: Home
pageclass: home
---


<div class='arrow-container row full-width'>
  <a class='arrow small-12 columns' href='#'>&nbsp;</a>
</div>
<div class='row full-width on-top load-on-top'>

  <div class='info small-6 small-offset-3 columns'>
    <svg class="go" version="1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 189 94.4" xml:space="preserve"><path id="XMLID_99_" d="M164.4 0.1h-40.9C110 0.1 99 11.1 99 24.7v15.2H52.8L38.2 54.5h37.2v15.3c0 5.5-4.5 10-10 10H24.6c-5.5 0-10-4.5-10-10V24.6c0-5.5 4.5-10 10-10h40.9c5.5 0 10 4.5 10 10v2.9L88 14.9C84.2 6.1 75.6 0 65.5 0H24.6C11 0 0 11 0 24.6v45.2c0 13.5 11 24.6 24.6 24.6h40.9C79 94.3 90 83.3 90 69.7V54.5H99v15.4c0 13.5 11 24.6 24.6 24.6h40.9c13.5 0 24.6-11 24.6-24.6V24.7C189 11.1 177.9 0.1 164.4 0.1zM174.4 69.8c0 5.5-4.5 10-10 10h-40.9c-5.5 0-10-4.5-10-10V54.5h22.5l-6.8 6.8 10.3 10.3 24.3-24.3 -24.4-24.4 -10.3 10.3 6.7 6.7h-22.3V24.7c0-5.5 4.5-10 10-10h40.9c5.5 0 10 4.5 10 10V69.8z"/></svg><!-- logo -->

    <h1>2016 Church of God <br/> General Assembly <br/> Nashville, TN</h1>

    <div class='info-buttons'>
      <a class="button right ga16">
       <svg class="cross" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" id="Layer_1" x="0px" y="0px" viewBox="0 0 194.9 229.1" xml:space="preserve"><polygon id="XMLID_125_" points="191.5 4 188.5 7.6 185.7 11.1 183.3 14.5 181.1 17.7 179.3 20.9 177.7 24 176.3 27 175.2 29.9 174.3 32.9 173.6 35.8 173.1 38.7 172.8 41.5 172.7 44.4 172.7 47.4 172.8 50.4 173.1 53.5 173.5 56.6 174 59.9 174.5 63.2 175.2 66.6 175.9 70.2 176.6 73.9 177.3 77.8 178.1 81.9 178.8 86.2 179.6 90.6 180.3 95.3 181 100.2 181.5 105.4 182.1 110.8 182.5 116.5 182.8 121.9 182.9 127.2 182.8 132.5 182.4 137.8 181.9 143 181.1 148.2 180.2 153.3 179.1 158.4 177.7 163.2 176.2 168 174.4 172.8 172.5 177.3 170.3 181.8 167.9 186.2 165.4 190.3 162.6 194.3 159.6 198.2 156.5 201.9 153.1 205.4 149.5 208.6 145.8 211.7 141.8 214.6 137.7 217.2 133.3 219.6 128.7 221.8 124 223.7 119 225.3 113.8 226.7 108.5 227.7 103 228.5 97.2 229 91.2 229.1 86.6 229 81.9 228.7 77.4 228.1 72.9 227.3 68.5 226.3 64.1 225 59.9 223.6 55.8 222 51.7 220.1 47.8 218.1 44 215.9 40.3 213.5 36.7 211 33.2 208.3 29.9 205.4 26.8 202.3 23.7 199.2 20.9 195.9 18.1 192.4 15.6 188.8 13.2 185.1 11 181.3 9 177.4 7.2 173.4 5.5 169.2 4.1 165 2.8 160.6 1.9 156.3 1 151.8 0.5 147.2 0.1 142.6 0 137.9 0 134.4 0.3 130.8 0.6 127.3 1.1 123.9 1.7 120.4 2.4 117.1 3.2 113.7 4.2 110.5 5.3 107.2 6.5 104.1 7.8 101 9.3 97.9 10.8 94.9 12.4 92 14.2 89.1 16 86.3 17.9 83.6 20 81 22.1 78.4 24.4 75.9 26.7 73.6 29.1 71.2 31.6 69 34.1 66.9 36.8 64.8 39.5 62.8 42.2 61 45.1 59.3 48 57.6 51 56.1 54 54.6 57.1 53.3 56.6 53.3 56.1 53.3 55.8 53.4 55.5 53.4 55.2 53.4 55 53.5 55.5 53.2 50.8 53.2 50.8 42.9 83.3 42.9 83.3 1.3 93.4 1.3 93.4 42.9 125.2 42.9 125.2 53.2 93.4 53.2 93.4 193.5 83.3 193.5 83.3 56.9 83.3 56.9 83.2 56.8 83.2 56.8 83.1 56.7 83 56.6 82.9 56.4 79.1 56.7 75.4 57.2 71.7 57.8 68 58.7 64.5 59.7 61 60.9 57.6 62.2 54.3 63.8 51.1 65.5 48 67.3 45 69.3 42 71.3 39.2 73.6 36.5 76 33.9 78.5 31.5 81.1 29.1 83.9 26.9 86.7 24.8 89.6 22.8 92.7 21 95.8 19.3 99 17.7 102.3 16.3 105.7 15.1 109.2 14 112.7 13.1 116.3 12.3 119.9 11.7 123.6 11.2 127.3 10.9 131.1 10.8 134.9 10.9 138.9 11.3 142.9 11.7 146.8 12.4 150.7 13.2 154.5 14.2 158.2 15.5 161.8 16.8 165.4 18.3 168.8 20 172.2 21.8 175.5 23.8 178.7 25.9 181.8 28.2 184.8 30.5 187.7 33 190.4 35.7 193 38.4 195.5 41.2 197.8 44.2 200 47.3 202 50.4 203.9 53.7 205.6 57 207.2 60.5 208.6 64 209.9 67.6 210.9 71.2 211.8 75 212.5 78.7 213 82.5 213.3 86.4 213.4 92.4 213.2 98.1 212.6 103.5 211.6 108.7 210.2 113.7 208.4 118.5 206.2 123.1 203.8 127.3 201 131.4 198 135.2 194.7 138.7 191 142 187.2 145 183.2 147.7 178.9 150.2 174.5 152.4 169.8 154.3 165 155.9 160.2 157.2 155.2 158.3 150 159 144.8 159.4 139.6 159.5 134.2 159.4 128.9 158.9 123.5 158 118.2 156.9 112.8 155.4 107.5 153.6 102.3 151.5 97.1 149 92 146.2 87.1 144.6 84.3 143 81.6 141.5 78.7 140.2 75.9 138.9 73.1 137.8 70.2 136.7 67.4 135.8 64.5 135 61.6 134.4 58.8 133.9 55.9 133.4 53.1 133.2 50.3 133.1 47.5 133.2 44.7 133.4 42 133.8 39.2 134.4 36.5 135.1 33.9 136.1 31.2 137.2 28.7 138.5 26.1 140 23.7 141.8 21.2 143.8 18.9 145.9 16.6 148.3 14.4 150.9 12.2 153.8 10.1 156.9 8.1 160.3 6.1 163.9 4.3 163.3 4.8 162.8 5.4 162.4 6 161.9 6.6 161.4 7.2 161 7.9 160.6 8.6 160.2 9.3 159.8 10 159.4 10.8 159.1 11.5 158.7 12.3 158.4 13 158.1 13.7 157.8 14.5 157.5 15.3 157.2 16 157 16.8 156.7 17.5 156.5 18.3 156.1 19.8 155.6 21.2 155.3 22.5 155 23.7 154.7 24.8 154.4 25.8 155.2 24.2 156 22.6 157 21.1 157.9 19.6 159 18.2 160.2 16.8 161.4 15.5 162.7 14.2 164 13 165.4 11.8 166.8 10.6 168.2 9.5 169.7 8.5 171.2 7.5 172.7 6.6 174.2 5.8 175.7 4.9 177.3 4.2 178.7 3.5 180.2 2.9 181.7 2.3 183.2 1.8 184.6 1.4 185.9 0.9 187.3 0.6 188.6 0.4 189.8 0.2 191 0 192.1 0 193.1 0 194 0 194.9 0.2 "/></svg>

      <span>#GA2016</span>
      </a>
      <a class="button left register">Register Now</a>
    </div>
  </div>
</div>

<div class="row full-width background">
  <div class="loop small-6 columns">
    
    <div class='video-overlay'>
      &nbsp;
    </div>
    
    <img class='crowd' src="assets/imgs/crowd.jpg" alt="crowd" />

    <video autoplay loop>
      <source src="assets/imgs/movie/nashville-skyline.ogg" type="video/ogg">
      <source src="assets/imgs/movie/nashville-skyline-hd.mp4" type="video/mp4">
      <source src="assets/imgs/movie/nashville-skyline.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
    
  </div>
  <div id='map-overlay' class='small-6 columns'>
  </div>
  <div id='map' class="small-6 columns">
    
  </div>
</div>

