---
title: Register
pageclass: register
---

<div id='register-replace'>
  <div class='row'>
    <h1 class='small-8 small-offset-2 columns'>Registration Form</h1>
  </div>

  <div class='row'>
    <div class='small-8 small-offset-2 coloumns about-content'>      
<!--
      <form>
        <div class="row">
          <div class="small-12 columns">
              <input type="text" placeholder="name" />
          </div>
        </div>
          
        <div class="row">
          <div class="small-6 columns">
              <input type="text" placeholder="email" />
          </div>
          <div class="small-6 columns">
            <input type="text" placeholder="phone #" />
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
              <input type="text" placeholder="phone #" />
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
              <input type="text" placeholder="address" />
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
              <input type="text" placeholder="address 2" />
          </div>
        </div>
        
        <div class="row">
          <div class="small-12 columns">
              <input type="text" placeholder="city" />
          </div>
        </div>
          
        <div class="row">
          <div class="small-6 columns">
            <select>
              <option value="husker">Husker</option>
              <option value="starbuck">Starbuck</option>
              <option value="hotdog">Hot Dog</option>
              <option value="apollo">Apollo</option>
            </select>
          </div>
          <div class="small-6 columns">
            <input type="text" placeholder="zip" />
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
              <input type="text" placeholder="number attending with you" />
          </div>
        </div>

        </div>
      </form>-->

      <!-- start tympanus -->
      <span class="input input--kaede">
          <input class="input__field input__field--kaede" type="text" id="input-35" />
          <label class="input__label input__label--kaede" for="input-35">
            <span class="input__label-content input__label-content--kaede">Name</span>
          </label>
      </span>

        <span class="input input--kaede input-left">
          <input class="input__field input__field--kaede" type="text" id="input-36" />
          <label class="input__label input__label--kaede" for="input-36">
            <span class="input__label-content input__label-content--kaede">Email</span>
          </label>
        </span> 

        <span class="input input--kaede input-left">
          <input class="input__field input__field--kaede" type="text" id="input-37" />
          <label class="input__label input__label--kaede" for="input-37">
            <span class="input__label-content input__label-content--kaede">Home Phone</span>
          </label>
        </span>
        
        <span class="input input--kaede">
            <input class="input__field input__field--kaede" type="text" id="input-38" />
            <label class="input__label input__label--kaede" for="input-38">
              <span class="input__label-content input__label-content--kaede">Cell Phone</span>
            </label>
        </span>
        
        <span class="input input--kaede">
            <input class="input__field input__field--kaede" type="email" name="email" required id="input-39" />
            <label class="input__label input__label--kaede" for="input-39">
              <span class="input__label-content input__label-content--kaede">Address</span>
            </label>
        </span>
        
        <span class="input input--kaede">
            <input class="input__field input__field--kaede" type="text" id="input-40" />
            <label class="input__label input__label--kaede" for="input-40">
              <span class="input__label-content input__label-content--kaede">Address 2</span>
            </label>
        </span>

        <span class="input input--kaede">
            <input class="input__field input__field--kaede" type="text" id="input-41" />
            <label class="input__label input__label--kaede" for="input-41">
              <span class="input__label-content input__label-content--kaede">City</span>
            </label>
        </span>

        <span class="input input--kaede input-left">
          <input class="input__field input__field--kaede" type="text" id="input-42" />
          <label class="input__label input__label--kaede" for="input-42">
            <span class="input__label-content input__label-content--kaede">State</span>
          </label>
        </span> 

        <span class="input input--kaede input-left">
          <input class="input__field input__field--kaede" type="text" id="input-43" />
          <label class="input__label input__label--kaede" for="input-43">
            <span class="input__label-content input__label-content--kaede">Zip</span>
          </label>
        </span>

        <span class="input input--kaede">
            <input class="input__field input__field--kaede" type="text" id="input-44" />
            <label class="input__label input__label--kaede" for="input-44">
              <span class="input__label-content input__label-content--kaede">Number attending with you</span>
            </label>
        </span>
        <!-- end tympanus -->

    </div><!-- about wrap-->
  </div>


  <div class='row button-row'>
    <input type='submit' class="button right register">Step 3 | Checkout</a>
  </div>
</div><!-- register-replace -->