---
title: Register
pageclass: register
---

<div id='about'>
<div id='title' style='display:none;'>{{title}}</div>

  <div class='row'>
    <header id="header" class='small-12 columns'>
      <div class='small-7 small-offset-2 columns'><p>Attend the General Assembly 2016</p></div>
      <div class='small-3 columns'>
        <p class='close'>Close</p>
        <a class='closeit'  href='#'>
        <svg class='close-svg' xmlns="http://www.w3.org/2000/svg" version="1" id="Layer_1" x="0" y="0" viewBox="0 0 23 23" xml:space="preserve"><line id="XMLID_1_" class="close-x" x1="1.5" y1="1.5" x2="21.5" y2="21.5"/><line id="XMLID_2_" class="close-x" x1="21.5" y1="1.5" x2="1.5" y2="21.5"/></svg>
        </a>
      </div>
    </header><!-- /header -->
  </div>

<div class='about-replace small-12 columns'>
  <div class='row'>
    <div class='small-8 small-offset-2 columns'>
    <h1>About the Assembly</h1>
    </div>
  </div>

  <div class='row'>
    <div class='small-8 small-offset-2 columns about-content'>      
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nisl mauris, 
      </p>

      <p>
        rhoncus id volutpat condimentum, faucibus at ligula. Maecenas at condimentum enim. Maecenas vitae dapibus metus, ut eleifend dolor. Nam quis libero tortor. In cursus, lorem et pharetra condimentum, nisl diam suscipit turpis, a accumsan metus nisl dapibus tortor. Curabitur auctor neque non tellus sagittis finibus nec id nisl. Proin et molestie odio. Nam semper orci eget ultricies porta.
      </p>
        
      <p>
        Duis suscipit urna urna, sed elementum purus ullamcorper sit amet. Nulla facilisi. In hac habitasse platea dictumst. Nunc finibus pellentesque elit nec porta. Nunc lobortis arcu elit, in elementum libero vulputate ut. Vestibulum bibendum finibus erat. Quisque volutpat aliquet nunc ac tristique. 
      </p>
        
    </div><!-- about wrap-->
  </div>


  <div class='row button-row'>
    <a class="button right register2" href="#" id='{{ title }}'>Step 2 | Register</a>
  </div>
</div><!-- about-replace -->
</div><!-- about -->