---
title: Register
pageclass: register
---
<div id="about">
    <div id="title" style="display:none;">{{title}}</div>
    <div class="row header-row">
        <header id="header" class="">
            <!-- <div class="small-7 small-offset-2 columns"><p>Attend the General Assembly 2016</p></div> -->
            <div class="large-12 right columns">
                <a class="closeit right"  href="#">
                    <svg class="close-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 19.9 19.9" xml:space="preserve"><path  d="M12.5 10l6.9-6.9c0.7-0.7 0.7-1.8 0-2.5 -0.7-0.7-1.8-0.7-2.5 0L10 7.4 3.1 0.5c-0.7-0.7-1.8-0.7-2.5 0s-0.7 1.8 0 2.5L7.4 10l-6.9 6.9c-0.7 0.7-0.7 1.8 0 2.5 0.4 0.4 0.8 0.5 1.3 0.5s0.9-0.2 1.3-0.5l6.9-6.9 6.9 6.9c0.4 0.4 0.8 0.5 1.3 0.5s0.9-0.2 1.3-0.5c0.7-0.7 0.7-1.8 0-2.5L12.5 10z"/></svg>
                </a>
            </div>
            </header><!-- /header -->
        </div>
        <div class="about-replace small-12 columns">
            <div class="row">
                <div class="small-8 small-offset-2 columns">
                    <h1>About the Assembly</h1>
                </div>
            </div>
            <div class="row">
                <div class="small-8 small-offset-2 columns about-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nisl mauris,
                    </p>
                    <p>
                        rhoncus id volutpat condimentum, faucibus at ligula. Maecenas at condimentum enim. Maecenas vitae dapibus metus, ut eleifend dolor. Nam quis libero tortor. In cursus, lorem et pharetra condimentum, nisl diam suscipit turpis, a accumsan metus nisl dapibus tortor. Curabitur auctor neque non tellus sagittis finibus nec id nisl. Proin et molestie odio. Nam semper orci eget ultricies porta.
                    </p>
                    
                    <p>
                        Duis suscipit urna urna, sed elementum purus ullamcorper sit amet. Nulla facilisi. In hac habitasse platea dictumst. Nunc finibus pellentesque elit nec porta. Nunc lobortis arcu elit, in elementum libero vulputate ut. Vestibulum bibendum finibus erat. Quisque volutpat aliquet nunc ac tristique.
                    </p>
                    <p>
                    Donec vitae euismod justo, sed rhoncus est. Vivamus nunc ipsum, pulvinar at dignissim aliquet, ultrices sit amet metus. Curabitur lacinia elementum massa, vel fringilla nisi vehicula a. Fusce eget aliquam nibh, viverra mattis lectus. Donec in sollicitudin justo. Praesent vel nisi id nisi volutpat tincidunt. Aliquam velit nisi, pulvinar non faucibus sit amet, consequat et magna. Maecenas tempus feugiat est ac feugiat. Phasellus lacinia auctor odio in viverra. Sed quis urna et magna scelerisque hendrerit.
                    </p>
                    <p>
                    In tincidunt ex elit, nec iaculis augue efficitur in. Nunc convallis gravida nunc. Vestibulum vel consectetur sem. Praesent quis arcu sem. Vivamus venenatis pulvinar malesuada. Quisque diam sapien, auctor vel convallis eu, faucibus non sem. Praesent placerat, justo at maximus cursus, neque mauris vestibulum mauris, et ullamcorper libero odio tincidunt risus. Praesent ut tempor justo. Quisque nibh sapien, suscipit sed tellus in, volutpat facilisis arcu. Vivamus vel nibh id est lacinia laoreet. Donec risus neque, tempor at mollis sed, blandit vitae augue. Morbi aliquet vulputate facilisis. Integer dapibus auctor lectus, a cursus sem tristique ac. Etiam eget tellus ante.
                    </p>
                    <p>
                    Etiam tincidunt ex at risus dictum placerat. Integer cursus tortor ligula, sed molestie purus efficitur id. Nam scelerisque nisl ut congue interdum. Vivamus eget cursus nisi. Aenean lectus magna, congue in viverra at, venenatis et arcu. In commodo fermentum leo, eget auctor tortor molestie sit amet. Nulla ultrices consectetur eleifend. Etiam viverra nunc in risus fringilla, non feugiat ligula ornare. Nam vulputate neque id turpis lacinia scelerisque.
                    </p>
                </div><!-- about wrap-->
            </div>

            <div class="small-12 button-row">
                <a class="button register2 small-3 small-offset-4" href="#" id="{{ title }}">Step 2 | Register</a>
            </div>
            
        </div><!-- about-replace -->
</div><!-- about -->