---
title: Social
pageclass: social
---
<div id='loadsocial'>
  <div class='row'>
    <header id="header" class='small-12 columns'>
      <div class='small-7 small-offset-2 columns'><p>This is where social content goes</p></div>
      <div class='small-3 columns'>
        <p class='close'>Close</p>
        <a class='closeit' href='#' style=''>
        <svg class='close-svg' xmlns="http://www.w3.org/2000/svg" version="1" id="Layer_1" x="0" y="0" viewBox="0 0 23 23" xml:space="preserve"><line id="XMLID_1_" class="close-x" x1="1.5" y1="1.5" x2="21.5" y2="21.5"/><line id="XMLID_2_" class="close-x" x1="21.5" y1="1.5" x2="1.5" y2="21.5"/></svg>
        </a>
      </div>
    </header><!-- /header -->
  </div>
</div>