@import
	'theme/setup',

	// reset
	'lib/sanitize',

	// foundation
	'../foundation/scss/foundation/settings',
	'../foundation/scss/foundation/components/block-grid',
	'../foundation/scss/foundation/components/grid',
	'../foundation/scss/foundation/components/type',
	'../foundation/scss/foundation/components/buttons',
	'../foundation/scss/foundation/components/reveal',

	'theme/fonts',
	'theme/icons',

	// plugins
	'lib/mixins',
	'lib/grid-extension',
	'lib/retina-sprites',
	// 'lib/blockui',
	// 'lib/slick',

	// theme
	'theme/default/type',
	'theme/default/atoms',
	'theme/default/organisms',
	'theme/default/structure',
	'theme/default/templates',

	'theme/compat/ie8';


@media #{$medium-up} {
	@import
		'theme/medium/type',
		'theme/medium/atoms',
		'theme/medium/organisms',
		'theme/medium/structure',
		'theme/medium/templates';
}



@media #{$large-up} {
	@import
		'theme/large/type',
		'theme/large/atoms',
		'theme/large/organisms',
		'theme/large/structure',
		'theme/large/templates';
}



@media #{$xlarge-up} {
    @import
    	'theme/xlarge/type',
    	'theme/xlarge/atoms',
    	'theme/xlarge/organisms',
    	'theme/xlarge/structure',
    	'theme/xlarge/templates';
}
