$font-icon: 'icomoon' !default;
$icons: () !default;

[class^="icon-"], [class*=" icon-"] {
	font-family: $font-icon;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


@each $class,$icon in $icons{
	.icon-#{$class}:before{
		content: $icon;
	}
}