/* fonts
----------------------------------------------------------------------------------------------------------------------*/


/* colors
----------------------------------------------------------------------------------------------------------------------*/
$color-white : white;
$color-black : #000;

$color-teal : #38a57b;
$color-gray : #444;
$color-ltgray: #efefef;
$color-bright: #61ffc2;
$color-alert: #ffad56;

// $color-facebook: #3b5998;
// $color-google-plus: #dd4b39;
// $color-twitter: #55acee;


/* general/helper variables
----------------------------------------------------------------------------------------------------------------------*/
$depth : (
	behind: -1,
	base  : 0,
	normal: 1,
	footer: 200,
	galaxy: 300,
	header: 500,
);

$img-path : '../imgs/';
$font-path : '../fonts/';
// $spacing: 36px;
// $spacing-double : $spacing * 2;
// $spacing-triple : $spacing * 3;
// $spacing-half : round($spacing / 2);
// $spacing-third : round($spacing / 3);
// $spacing-quarter : round($spacing / 4);
// $spacing-two-third : round($spacing * (2/3));
// $spacing-three-quarter : round($spacing * (0.75));

// $small-padding: 1.25rem;
// $mobile-menu-speed : 300ms;
// $sidebar-width: 11.25em;


// $highdpi : '(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)';
// $sprites   : sprite-map('sprites/*.png');
// $sprites2x : sprite-map('sprites2x/*.png');


/* functions
----------------------------------------------------------------------------------------------------------------------*/

// z-index: z('base'); becomes z-index: 0;
@function z($key){
	@return map-get($depth, $key);
}


/* foundation overrides
----------------------------------------------------------------------------------------------------------------------*/

/* slick overrides
----------------------------------------------------------------------------------------------------------------------*/

/* blockui overrides
----------------------------------------------------------------------------------------------------------------------*/