<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
{{> head }}
</head>
<body  class="{{#if pageclass}}{{ pageclass }}{{/if}}">
<div class='top-line'><a class='gradient-icon' href='/venue' rel='address:/venue'>
  <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56 31" xml:space="preserve"><line id="XMLID_16_" class="hamburger" x1="3.3" y1="3" x2="53" y2="3"/><line id="XMLID_15_" class="hamburger" x1="3" y1="15.5" x2="52.7" y2="15.5"/><line id="XMLID_14_" class="hamburger" x1="3" y1="28" x2="52.7" y2="28"/></svg>

</a></div>

<div class="popup">
    
    <div class='row full-width'>
    <header id="header" class='small-12 columns'>
      <div class='small-4 small-offset-8 medium-3 medium-offset-9 large-2 large-offset-10 columns'>
        
        <a class='closeit right popup-close' href='#' style=''>
        <svg class='close-svg' xmlns="http://www.w3.org/2000/svg" version="1" id="Layer_1" x="0" y="0" viewBox="0 0 23 23" xml:space="preserve"><line id="XMLID_1_" class="close-x" x1="1.5" y1="1.5" x2="21.5" y2="21.5"/><line id="XMLID_2_" class="close-x" x1="21.5" y1="1.5" x2="1.5" y2="21.5"/></svg>
        </a>

        <p class='close right'>Close</p>
        
      </div>
    </header><!-- /header -->

    <div class='popup-overlay'>
      &nbsp;  
    </div>
    <div class='popup-info'>
      <div class='row'>
        <div class='small-6 small-offset-3 columns'>
            <svg class="go" version="1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 189 94.4" xml:space="preserve"><path id="XMLID_99_" d="M164.4 0.1h-40.9C110 0.1 99 11.1 99 24.7v15.2H52.8L38.2 54.5h37.2v15.3c0 5.5-4.5 10-10 10H24.6c-5.5 0-10-4.5-10-10V24.6c0-5.5 4.5-10 10-10h40.9c5.5 0 10 4.5 10 10v2.9L88 14.9C84.2 6.1 75.6 0 65.5 0H24.6C11 0 0 11 0 24.6v45.2c0 13.5 11 24.6 24.6 24.6h40.9C79 94.3 90 83.3 90 69.7V54.5H99v15.4c0 13.5 11 24.6 24.6 24.6h40.9c13.5 0 24.6-11 24.6-24.6V24.7C189 11.1 177.9 0.1 164.4 0.1zM174.4 69.8c0 5.5-4.5 10-10 10h-40.9c-5.5 0-10-4.5-10-10V54.5h22.5l-6.8 6.8 10.3 10.3 24.3-24.3 -24.4-24.4 -10.3 10.3 6.7 6.7h-22.3V24.7c0-5.5 4.5-10 10-10h40.9c5.5 0 10 4.5 10 10V69.8z"/></svg><!-- logo -->
            
            <svg class='line' version="1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 184.7 3" xml:space="preserve"  preserveAspectRatio="none"><line id="XMLID_1_" class="stroke" x1="0" y1="1.5" x2="184.7" y2="1.5"/></svg>
            
            <p>More information about the 2016
            Church of God General Assembly is 
            coming soon. Please check back at the 
            beginning of 2016 for more information
            about the speakers, accomodations,
            service opportunities and more.</p>
            
            <div class='social-links'>
              <div class='social-center'>
                <a href='#' >#GA16</a> <a href='#' >#GOCOG</a>
              </div>
            </div>
            
            <div class='social-links'>
              <a href='#' class='button'>venue details</a>
            </div>


        </div>
      </div>
    </div>
  </div>

</div>

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <iframe src="https://player.vimeo.com/video/107526451" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="universe">
	<div id="galaxy">
		{{> body }}
	</div><!-- / galaxy -->
</div><!-- / universe -->
<!-- &callback=initMap -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJiYQ2XXWKI8dkdmlTwSSNSygmoFm-4eM"></script>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble.js"></script>
<script src="https://static.tagboard.com/public/js/embed.js"></script>

<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<script src="{{ assets }}js/main.js"></script>
<!-- @endif -->

<!-- @if NODE_ENV == 'PRODUCTION' -->
<script src="{{ assets }}js/main.min.js"></script>
<!-- @endif -->



</body>
</html>
