<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
{{> head }}
</head>
<body  class="{{#if pageclass}}{{ pageclass }}{{/if}}">
<div class='top-line'><a class='gradient-icon'>
  <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56 31" xml:space="preserve"><line id="XMLID_16_" class="hamburger" x1="3.3" y1="3" x2="53" y2="3"/><line id="XMLID_15_" class="hamburger" x1="3" y1="15.5" x2="52.7" y2="15.5"/><line id="XMLID_14_" class="hamburger" x1="3" y1="28" x2="52.7" y2="28"/></svg>

</a></div>

<div class="popup">
    
    <div class='row full-width'>
    <header id="header" class='small-12 columns'>
      <div class='small-4 small-offset-8 medium-3 medium-offset-9 large-2 large-offset-10 columns'>
        
        <a class='closeit right' href='#' style=''>
        <svg class='close-svg' xmlns="http://www.w3.org/2000/svg" version="1" id="Layer_1" x="0" y="0" viewBox="0 0 23 23" xml:space="preserve"><line id="XMLID_1_" class="close-x" x1="1.5" y1="1.5" x2="21.5" y2="21.5"/><line id="XMLID_2_" class="close-x" x1="21.5" y1="1.5" x2="1.5" y2="21.5"/></svg>
        </a>

        <p class='close right'>Close</p>
        
      </div>
    </header><!-- /header -->
  </div>

</div>

<div id="universe">
	<div id="galaxy">
		{{> body }}
	</div><!-- / galaxy -->
</div><!-- / universe -->
<!-- &callback=initMap -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJiYQ2XXWKI8dkdmlTwSSNSygmoFm-4eM"></script>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble.js"></script>


<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<script src="{{ assets }}js/main.js"></script>
<!-- @endif -->

<!-- @if NODE_ENV == 'PRODUCTION' -->
<script src="{{ assets }}js/main.min.js"></script>
<!-- @endif -->


</body>
</html>
