---
title: Welcome | GA16 | COG
pageclass: nojs interior landing-nojs
---

{{> nav }}

<div id='content'>
<div class='row'>

<div class="popup">
    
    <div class='row full-width'>
    <div class='popup-overlay'>
      &nbsp;  
    </div>
    <div class='popup-info'>
      
      <div class='row'>
        <div class='small-10 small-offset-1 columns popup-replace'>
            <svg class="go" version="1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 189 94.4" xml:space="preserve"><path id="XMLID_99_" d="M164.4 0.1h-40.9C110 0.1 99 11.1 99 24.7v15.2H52.8L38.2 54.5h37.2v15.3c0 5.5-4.5 10-10 10H24.6c-5.5 0-10-4.5-10-10V24.6c0-5.5 4.5-10 10-10h40.9c5.5 0 10 4.5 10 10v2.9L88 14.9C84.2 6.1 75.6 0 65.5 0H24.6C11 0 0 11 0 24.6v45.2c0 13.5 11 24.6 24.6 24.6h40.9C79 94.3 90 83.3 90 69.7V54.5H99v15.4c0 13.5 11 24.6 24.6 24.6h40.9c13.5 0 24.6-11 24.6-24.6V24.7C189 11.1 177.9 0.1 164.4 0.1zM174.4 69.8c0 5.5-4.5 10-10 10h-40.9c-5.5 0-10-4.5-10-10V54.5h22.5l-6.8 6.8 10.3 10.3 24.3-24.3 -24.4-24.4 -10.3 10.3 6.7 6.7h-22.3V24.7c0-5.5 4.5-10 10-10h40.9c5.5 0 10 4.5 10 10V69.8z"/></svg><!-- logo -->
            
            
            <div class='main-links'>
              <h1>2016 Church of God<br />
  General Assembly <br />
  Nashville, TN</h1>

              <div class='row'>
                <div class='small-12 columns'>
                  <a href='signup.html'>About</a>
                </div>
              </div>
            
              <div class='row'>
                <div class='small-12 columns'>
                  <a href='signup.html'>Register</a>
                </div>
              </div>
            </div>

            <div class='social-links'>
              <div class='social-center'>
                <a href='#' >#GA16</a> <a href='#' >#GOCOG</a>
              </div>
            </div>
            
            <div class='social-links'>
              <a href='signup.html' class='button'>Sign Up!</a>
            </div>


        </div>
      </div>
    </div>
  </div>

</div>
</div>

</div>
