---
title: About
pageclass: nojs interior about-nojs
---

{{> nav }}

<div id='content'>
  <div class='row'>
    <div class='small-12 columns'>
    <h1>About the Assembly</h1>
    <p>
        Lorem <a href="#">ipsum</a> dolor sit amet, consectetur adipiscing elit. Integer nisl mauris, 
      </p>

      <p>
        rhoncus id volutpat condimentum, faucibus at ligula. Maecenas at condimentum enim. Maecenas vitae dapibus metus, ut eleifend dolor. Nam quis libero tortor. In cursus, lorem et pharetra condimentum, nisl diam suscipit turpis, a accumsan metus nisl dapibus tortor. Curabitur auctor neque non tellus sagittis finibus nec id nisl. Proin et molestie odio. Nam semper orci eget ultricies porta.
      </p>
        
      <p>
        Duis suscipit urna urna, sed elementum purus ullamcorper sit amet. Nulla facilisi. In hac habitasse platea dictumst. Nunc finibus pellentesque elit nec porta. Nunc lobortis arcu elit, in elementum libero vulputate ut. Vestibulum bibendum finibus erat. Quisque volutpat aliquet nunc ac tristique. 
      </p>
    </div>
    <div class='row'>
      <div class='medium-3 columns right'>
      <a class='button' href='checkout.html'>register</a>
      </div>
    </div>

  </div>
</div>
